.impressum-text {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 1.6;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}

.contact-heading {
  font-size: 40px;
  font-weight: bold;
  color: #ffd700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.impressum-text a {
  color: #00f2fe;
  text-decoration: none;
}

.impressum-text a:hover {
  text-decoration: underline;
}

.impressum-text strong {
  color: #ffd700;
}

.back-to-home {
  display: inline-block;
  font-family: "zabras", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 40px auto 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3), 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.back-to-home:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.back-to-home:active {
  transform: translateY(0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #0f3443, #34e89e);
}
